<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>MPPI2FR DATA EVALUATION</title>
</head>
<body>
  <div class="upper_bar">
    <a href="/"><h1>MPPI2FR</h1></a>
    <nav>
      <a href="/" id="upper_bar_nav_inicio" class="hidden">Inicio</a>
      <a href="/agregar_paciente">Agregar Paciente</a>
      <a href="/directorio" id="upper_bar_nav_directorio">Directorio</a>
    </nav>
  </div>