<%- include('partials/header') -%>
    <div class="home">
      <div class="home-menu">        
        <h1>
          Bienvenido al programa evaluación de datos MMPI2FR
        </h1>
        <nav id="home_nav">
          <a href="/agregar_paciente" class="home-menu-button">Agregar paciente</a>
          <a href="/directorio" class="home-menu-button">Directorio pacientes</a>
          <a href="/" class="home-menu-button">Búsqueda avanzada</a>
          <a href="/" class="home-menu-button" id="home_consulta_id">Consulta por ID</a>
        </nav>
      </div>
    </div>

  </body>

<%- include('partials/footer') -%>
